<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF">
	<appenders>
		<console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%msg%n" />
		</console>
	</appenders>
	<loggers>
		<logger name="org.metaborg.spoofax.testrunner.core" additivity="false" level="info">
			<appender-ref ref="Console" />
		</logger>
	</loggers>
</configuration>
