<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
  <extension point="org.metaborg.spoofax.eclipse.language">
    <language location="target/unpacked/latest" />
  </extension>
  <extension point="org.metaborg.spoofax.eclipse.module">
    <module class="org.metaborg.mbt.core.SpoofaxExtensionModule" />
    <module class="org.metaborg.spt.core.SpoofaxExtensionModule" />
  </extension>
</plugin>
