<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>

<plugin>
   <extension-point id="testlistener" name="Spoofax Test Listener" schema="schema/testlistener.exsd"/>

       <extension point="org.eclipse.imp.runtime.languageDescription">
          <language extensions="spt" description="Spoofax-Testing" language="Spoofax-Testing" derivedFrom="DynamicRoot" validator="org.strategoxt.imp.testing.SpoofaxTestingValidator" validatorClass="org.strategoxt.imp.testing.SpoofaxTestingValidator"></language>
       </extension>
       <extension id="org.strategoxt.imp.testing.parser" name="Spoofax-Testing Parser" point="org.eclipse.imp.runtime.parser">
          <parser class="org.strategoxt.imp.testing.SpoofaxTestingParseController" language="Spoofax-Testing">
          </parser>
       </extension>
       <extension
             point="org.eclipse.ui.preferencePages">
          <page
                category="org.strategoxt.imp.runtime.SpoofaxPreferencePage"
                class="org.strategoxt.imp.testing.preferences.SpoofaxTestingPreferencePage"
                id="org.strategoxt.imp.testing.preferences.SpoofaxTestingPreferencePage"
                name="Spoofax Testing">
          </page>
       </extension>
       <extension
             point="org.eclipse.core.runtime.preferences">
          <initializer
                class="org.strategoxt.imp.testing.preferences.PreferenceInitializer">
          </initializer>
       </extension>    
    </plugin>
