<configuration>
  <appender
    name="stdout"
    class="ch.qos.logback.core.ConsoleAppender"
  >
    <target>System.out</target>
    <encoder>
      <pattern>%-5level - %msg%n</pattern>
    </encoder>
  </appender>

  <root level="info">
    <appender-ref ref="stdout" />
  </root>

  <logger
    name="org.apache.commons.vfs2.impl.DefaultFileSystemManager"
    level="warn" />
</configuration>